<fieldset>
    <legend>{{ name }}</legend>
    <!-- Name -->
    <div class='form-group'>
        <label for='coach-name'>Name</label><br>
        <input class='form-control' id='coach-name' type='text' name='name' value='{{ coach.name }}'/>
    </div>
    
    <!-- Resume -->
    <div class='form-group'>
        <label for='resume'>Resume</label><br>
        <p class='text-muted'>Add resume experience.</p>
        <textarea class='form-control' id='coach-resume' name='resume' rows='10'>{{ coach.resume }}</textarea>
    </div>

    <!-- Upload Resume Document -->
    <!-- <div class='form-group'></div>
    <form action="myform.cgi"> <input type="file" name="fileupload" value="fileupload" id="fileupload"> <label for="fileupload"> Select a file to upload</label> <input type="submit" value="submit"> </form>
</div> -->

<!-- Upload Profile Picture -->
<!-- <form action="/action_page.php">
    <input type="file" name="pic" accept="image/*">
    <input type="submit">
  </form> -->
  <!-- http://form.guide/php-form/html5-input-type-file.html -->

    
    <!-- Qualifications -->
    <div class='form-group'>
        <label for='coach-qualifications'>Qualifications</label><br>
        <input class='form-control' id='qualifications' type='text' name='qualifications' value='{{ coach.qualifications }}' />
    
    </div>
    <!-- REVIEWS -->
    <div class='form-group'>
        <label for="reviews">Reviews</label>
        <p class='text-muted'>Review this coach!</p>
        <select class='form-control' name="reviews" id="rate" value='{{ coach.reviews }}'>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    </fieldset>