<fieldset>
    <legend>{{ name }}</legend>
    <!-- Name -->
    <div class='form-group'>
        <label for='field-name'>Name</label><br>
        <input class='form-control' id='field-name' type='text' name='name' value='{{ field.name }}'/>
    </div>
    
    <!-- Number of Full_pitches -->
    <div class='form-group'>
        <label for='number_of_pitches'>Number of Full Pitches</label><br>
        <input class='form-control' id='number_of_pitches' type='text' name='number_of_pitches' value='{{ field.number_of_pitches }}' />
    </div>
    
    <!-- Turf -->
    <div class='form-group'>
        <label for='field-turf'>Turf</label><br>
        <p class='text-muted'>Add turf type.</p>
        <textarea class='form-control' id='field-turf' name='turf' rows='10'>{{ field.turf }}</textarea>
    </div>

    <!-- Location -->
    <div class='form-group'>
        <label for='location'>Location</label><br>
        <input class='form-control' id='location' type='text' name='location' value='{{ field.location }}' />
    </div>


    </fieldset>